<div id= "main">
 <div class = "image">
  <div class = "albaito">
   <p>アルバイト情報</p>
  </div>
 </div>
 
<div class="contents row" >
  <% @works.each do |work| %>
  <div class = "allrow"> 
    <div class="content_post">
     <div class="icons">
      <span class="name"><%= work.work_type %></span>
      <span class="name"><%= I18n.l(work.start, format: :full_date) %> ~ <%= work.end.strftime("%H時%M分") %></span>
      <% if work.teiinn %>
       <span class="name">定員<%= work.teiinn %>名</span>
      <% end %>
     </div>
     <div class="kyaku">
      <span class="school"><%= work.school %> <%= work.gakunen %>年生 <%=work.ninzu %>名</span>
     </div>
     <% if work.bikou.present? %>
     <div>
       <p class="bikou"><%= work.bikou %></p>
     </div>
     <% end %>
    </div>
    <% if admin_signed_in? %>
    <div class="ouboxx">
     <div>
      <div>
      <%= link_to '削除', "/works/#{work.id}", method: :delete, class: "oubox" %>
      </div>
      <div>
      <%= link_to '編集', "/works/#{work.id}/edit", method: :get, class: "oubox neo" %>
      </div> 
     </div>
    </div>
     <% elsif student_signed_in? && work.reservations.exists?(student_id: current_student.id) %>
    <div class ="ouboxx">
     <div class ="oubo">
      申込済
     </div>
    </div>
    <% elsif student_signed_in? %>
    <div class ="ouboxx">
      <%= form_for(@reservation) do |f|  %>
       <%= f.hidden_field :work_start, value: work.start %>
       <%= f.hidden_field :work_id, value: work.id %>
       <%= f.submit "申し込む", class: "oubo" %>
      <% end %>
      </div>
   
    <% else %>
    
    <% end %>
   </div>
   <% end %>
   <%= paginate(@works) %>
</div>
</div>