<!DOCTYPE html>
<html>
  <head>
    <title>ParttimeJob</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="wrapper">
  
  <div id="container">
   <header class="header">
 <%if request.path.include?("students") || request.path.include?("admin") ||  request.path.include?("new") || request.path.include?("edit")%>
 <div>
 </div>
 <% elsif request.path.include?("reservation") %>
 <div>
   <%= form_tag('/reservations/search', method: :get) do %>
   <%= collection_select :reservation, :work_start, Reservation.all.order("work_start DESC"), :work_start, :work_start_date, {prompt: ""}, {class: "kensaku"} %>
   <input type="submit" value="検索" class="kenbtn">
  <% end %>
  </div>
 <% else %>
   <div>
   <%= form_tag('/works/search', method: :get) do %>
   <%= collection_select :work, :start, Work.all.order("start DESC"), :start, :start_date, {prompt: ""}, {class: "kensaku"} %>
   <input type="submit" value="検索" class="kenbtn">
  <% end %>
  </div>
  
  
  <% end %>
    <div class="header__bar row">
    <% if admin_signed_in? %>
     <div class="user_nav grid-6">
     <%= link_to "応募一覧", reservations_path, class: "post" %>
     <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "post" %>
     <%= link_to "バイト登録", "/works/new", class: "post" %>
     </div>
     <% elsif student_signed_in? %>
     <div class="user_nav grid-6">
     <%= link_to "ログアウト", destroy_student_session_path, method: :delete, class: "post" %>
     <%= link_to "マイページ", "/students/#{current_student.id}", class: "post" %>
     </div>
     <%elsif request.path.include?("sign_in") %>
     <div class="user_nav grid-6">
     </div>
     <% else %>
     <div class="user_nav grid-6">
     <%= link_to "ログイン", new_student_session_path, class: "post" %>
     <%= link_to "新規登録", new_student_registration_path, class: "post" %>
     </div>
     <% end %>
    </div>
   </header>
  </div>
  
    <%= yield %>
    
    <footer class="footer">
      <p class="admin">
        成蹊大学アドミッションセンター
      </p>
      <% if admin_signed_in? || student_signed_in? || request.path.include?("sign_in") || request.path.include?("sign_up") %>
      <% else %>
     <%= link_to "管理者用", new_admin_session_path, class: "post" %>
     <% end %>
    </footer>
  </body>
</html>
