<!DOCTYPE html>
<html>
  <head>
    <title>ParttimeJob</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="wrapper">
  
  <div id="container">
   <header class="header">
    <div class="header__bar row">
     <div class="user_nav grid-6">
      <a class="post" href="/works/new">新規登録</a>
     </div>
    </div>
   </header>
  </div>
  
    <%= yield %>
    
    <footer class="footer">
      <p class="admin">
        成蹊大学アドミッションセンター
      </p>
      <a class="kanri" href="/tweets/new">投稿する</a>
    </footer>
  </body>
</html>
